version: "0.5.0-pre.2"
entryPoint: "packager"
remoteDependencies: [
  "//code.jquery.com/jquery-1.10.1.min.js"
  "http://strd6.github.io/tempest/javascripts/envweb.js"
]
dependencies:
  require: "STRd6/require:v0.3.0"
