version: "0.5.7"
entryPoint: "packager"
remoteDependencies: [
  "https://code.jquery.com/jquery-1.11.0.min.js"
  "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"
]
dependencies:
  require: "distri/require:v0.4.2"
