version: "0.5.13"
entryPoint: "packager"
remoteDependencies: [
  "https://code.jquery.com/jquery-1.11.0.min.js"
]
dependencies:
  require: "distri/require:v0.4.2"
  memoize_promise: "distri/memoize_promise:v0.1.0"
  q: "distri/q:v1.0.1"
